span.caption-text {
  color: #cc4878;
}

/* svg {
  width: 80%;
} */

.math {
  text-align: left;
}
.eqno {
  float: right;
}

/* fix: ship to main content while print webpage (pydata theme) */
.skip-link {
  position: absolute;
}


/* 增加证明环境上下间距 */
div.proof-content {
  padding-top: 1em;  /* 调整文字到框顶的距离 */
  padding-bottom: 1em; /* 调整文字到框底的距离 */
}

