span.caption-text {
  color: #cc4878;
}

/* svg {
  width: 80%;
} */

.math {
  text-align: left;
}
.eqno {
  float: right;
}

/* table {
  text-align: left;
  position: relative;
}

th {
  background: white;
  position: sticky;
  top: 0;
}

#managerTable {
  max-height: 500px;
  overflow: auto;
} */

thead,
tbody {
  display: block;
}

tbody {
  max-height: 500px;
  overflow: auto;
}
